In [ ]:
import pandas as pd
import os
from sqlalchemy import create_engine
from time import time

In [ ]:
user='root'
password='root'
host='localhost'
port='5432' 
db='ny_taxi'
table_name='homework_green_tripdata'
url='https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz'

In [ ]:
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet'

# Download parquet file to local folder with name

In [ ]:
if url.endswith('.csv.gz'):
    csv_name = 'output.csv.gz'
else:
    csv_name = 'output.csv'

In [ ]:
print(f"Downloading file from {url}")
os.system(f'powershell Invoke-WebRequest -Uri {url} -OutFile {csv_name}')

In [ ]:
df_iter = pd.read_csv(csv_name, iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [ ]:
print(pd.io.sql.get_schema(df, name=table_name, con=engine))

In [ ]:
if 'lpep_pickup_datetime' in df.columns:
    df.rename(columns={'lpep_pickup_datetime': 'tpep_pickup_datetime',
                          'lpep_dropoff_datetime': 'tpep_dropoff_datetime'}, inplace=True)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace')
df.to_sql(name=table_name, con=engine, if_exists='append')

In [ ]:
while True: 

    try:
        t_start = time()
        
        df = next(df_iter)
        
        if 'lpep_pickup_datetime' in df.columns:
            df.rename(
                columns=
                    {
                        'lpep_pickup_datetime': 'tpep_pickup_datetime',
                        'lpep_dropoff_datetime': 'tpep_dropoff_datetime'
                    },
                inplace=True
            )

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        df.to_sql(name=table_name, con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

In [ ]:
zones_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"

In [ ]:
print(f"Downloading file from {url}")
os.system(f'powershell Invoke-WebRequest -Uri {zones_url} -OutFile taxi_zone_lookup.csv')

In [ ]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [ ]:
df_zones.head()

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')